{include file='header.html'}

			<section>
				<h1>ユーザー用ページ</h1>
				<h2>パスワード変更</h2>
				<!--{if $errors}-->
				<div class="alert alert-error fade in">
					<a class="close" data-dismiss="alert"><i class="icon-remove"></i></a>
					<ul class="attention unstyled">
						<!--{foreach from=$errors|smarty:nodefaults item='error'}-->
						<li>{$error}</li>
						<!--{/foreach}-->
					</ul>
				</div>
				<!--{elseif $freo.query.exec == 'update'}-->
				<div class="alert alert-success">
					<a class="close" data-dismiss="alert"><i class="icon-remove"></i></a>
					<ul class="complete unstyled">
						<li>パスワードを変更しました。</li>
					</ul>
				</div>
				<!--{/if}-->
				<div class="alert alert-info">
					<ul class="unstyled">
						<li>パスワードを入力してください。</li>
					</ul>
				</div>

				<form action="{$freo.core.https_file}/user/password_form" method="post" class="password-form well form-horizontal">
					<fieldset>
						<legend>パスワード登録フォーム</legend>
						<input type="hidden" name="freo[token]" value="{$token}" />
						<div class="control-group">
							<label class="control-label" for="old">以前のパスワード</label>
							<div class="controls">
								<input type="password" name="password[old]" size="30" value="{$input.password.old}" class="span4" />
							</div>
							<label class="control-label" for="new">新しいパスワード</label>
							<div class="controls">
								<input type="password" name="password[new]" size="30" value="{$input.password.new}" class="span4" />
							</div>
							<label class="control-label" for="confirm">新しいパスワード(確認入力)</label>
							<div class="controls">
								<input type="password" name="password[confirm]" size="30" value="{$input.password.confirm}" class="span4" />
							</div>
							<label class="control-label submit"><span>submit</span></label>
							<div class="controls">
									<input type="submit" value="登録する" class="btn-large btn" />
							</div>
						</div>
					</fieldset>
				</form>
			</section>

{include file='footer.html'}
